In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('shopeep_koreantop_clothing_shop_data.csv')
df

,pk_shop,date_collected,shopid,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop_location,rating_bad,rating_good,rating_normal,rating_star,is_shopee_verified,is_official_shop
0,20210613254711738,2021-06-13,254711738,hello.may.ph,April,27,2020,446,17487,10:13:55,96,NaN,181,17510,729,4.81,1,0
1,20210613314198143,2021-06-13,314198143,love.women.shop,September,25,2020,263,8574,10:43:05,73,"San Nicolas,Metro Manila",78,2656,198,4.68,0,0
2,2021061310377223,2021-06-13,10377223,R&O RedOrange,September,27,2016,209,660417,08:32:07,90,"Pasay City,Metro Manila",4647,1071829,18073,4.91,1,0
3,2021061321407329,2021-06-13,21407329,patriciacai,April,30,2017,165,18787,09:10:38,94,"Binondo,Metro Manila",44,18959,215,4.94,1,0
4,2021061311187885,2021-06-13,11187885,Little Market Manila,October,18,2016,467,67371,11:40:59,89,"Caloocan City,Metro Manila",680,39252,2383,4.73,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
741,20210706449182992,2021-07-06,449182992,Yacent_thrift_Clo,May,22,2021,16,115,08:45:30,86,"Legazpi City,Albay",0,32,0,5.00,0,0
742,20210706396605392,2021-07-06,396605392,Akistore.ph,March,3,2021,84,84,08:01:23,91,NaN,1,9,0,4.60,0,0
743,20210706360379308,2021-07-06,360379308,Yzanice Shop,December,20,2020,78,5982,08:46:30,96,NaN,16,463,16,4.75,1,0
744,2021070629392066,2021-07-06,29392066,Clairecvc Shop,August,2,2017,964,44029,12:19:44,73,"Binondo,Metro Manila",1960,103289,3982,4.78,0,0
745,2021070625811092,2021-07-06,25811092,angelcity.💋,June,17,2017,272,868370,10:02:42,36,"Pasay City,Metro Manila",13401,708666,30799,4.77,0,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 746 entries, 0 to 745
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   pk_shop             746 non-null    int64
 1   date_collected      746 non-null    object
 2   shopid              746 non-null    int64
 3   name                746 non-null    object
 4   join_month          746 non-null    object
 5   join_day            746 non-null    int64
 6   join_year           746 non-null    int64
 7   item_count          746 non-null    int64
 8   follower_count      746 non-null    int64
 9   response_time       746 non-null    object
 10  response_rate       746 non-null    int64
 11  shop_location       428 non-null    object
 12  rating_bad          746 non-null    int64
 13  rating_good         746 non-null    int64
 14  rating_normal       746 non-null    int64
 15  rating_star         740 non-null    float64
 16  is_shopee_verified  746 non-null    int64
 17  is_official_shop    746 non-null    int64
dtypes: float64(1), int64(12), object(5)
memory usage: 105.0+ KB

In [4]:
#Gom nhom don bien
#VD voi moi cua hang tinh trung binh cong so nguoi theo doi
df1 = df.groupby('name')['follower_count'].mean()
df1

name
 Youku Shangyi fashion store      139.5
 Zanzea Women's Apparel          1014.0
(MEILUN)Men's Fashion             113.0
1989minishop                    22280.0
5ngyzt5ebj                       7290.0
                                 ...
zhufeng2.ph                      1094.0
⭐️Pink Star Korea Fashion       37346.0
小龙专卖——日用百货                        339.0
🌿 Peppermint Shop               28039.0
💗Trendy girl💗                     152.0
Name: follower_count, Length: 391, dtype: float64

In [9]:
#Gom nhom nhieu bien
#VD: Hang nam, voi moi dia diem, tinh max luotj danh gia tot va xau

df2 = df.groupby(['join_year', 'shop_location'])['rating_bad', 'rating_good'].max()
df2

/tmp/ipykernel_18940/3316888562.py:4: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df2 = df.groupby(['join_year', 'shop_location'])['rating_bad', 'rating_good'].max()

                                        rating_bad  rating_good
join_year shop_location
2015      Taytay,Rizal                        2387       343050
2016      Bacoor,Cavite                        191        26249
          Caloocan City,Metro Manila          1967       151821
          Marikina City,Metro Manila            75         2550
          Paranaque City,Metro Manila          722        33438
...                                            ...          ...
2021      Santa Cruz,Metro Manila                0          345
          Silang,Cavite                          0           48
          Taytay,Rizal                        1534        21058
          Tondo I / Ii,Metro Manila             13         1717
          Valenzuela City,Metro Manila          88        20858

[97 rows x 2 columns]