In [6]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('OnlineRetail.csv', encoding='ISO-8859-1')
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [9]:
df.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

- Đọc bộ dữ liệu, cho biết số dòng, số cột và kiểu dữ liệu của các thuộc tính.
- Xây dựng bảng Pivot table, với mỗi Số hóa đơn tính trung bình cộng số lượng các mặt hàng theo từng Quốc gia. 
- Xây dựng bảng Pivot table, với mỗi Khách hàng cho biết số lượng mua hàng lớn nhất và nhỏ nhất theo Kho.
- Xây dựng bảng Pivot table, với mỗi Mã kho tính tổng số lượng các mặt hàng và trung bình cộng giá.
- Xây dựng bảng Pivot table cho biết tổng số lượng hàng bán được của mỗi ngày.

In [11]:
#Build a pivot table tell mean num of product quality base on Country, on each InvoiceNo
df1 = df.pivot_table(values='Quantity', index='InvoiceNo', columns='Country', aggfunc='mean')
df1

Country,Australia,Austria,Bahrain,Belgium,Brazil,Canada,Channel Islands,Cyprus,Czech Republic,Denmark,...,RSA,Saudi Arabia,Singapore,Spain,Sweden,Switzerland,USA,United Arab Emirates,United Kingdom,Unspecified
InvoiceNo,,,,,,,,,,,,,,,,,,,,,
536365,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.714286,NaN
536366,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.000000,NaN
536367,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.916667,NaN
536368,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.750000,NaN
536369,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.000000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
C581484,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-80995.000000,NaN
C581490,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-11.500000,NaN
C581499,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.000000,NaN
C581568,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-5.000000,NaN
C581569,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.000000,NaN

In [17]:
#Build a pivot table telling max num and min num off quality base on stockno, by customerid
df2 = df.pivot_table(
    values='Quantity',
    index='StockCode',
    columns='CustomerID',
    aggfunc={'max', 'min'}
)
df2

               max                                                          \
CustomerID 12346.0 12347.0 12348.0 12349.0 12350.0 12352.0 12353.0 12354.0
StockCode
10002          NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
10080          NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
10120          NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
10123C         NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
10124A         NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
...            ...     ...     ...     ...     ...     ...     ...     ...
D              NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
DOT            NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
M              NaN     NaN     NaN     NaN     NaN     1.0     NaN     NaN
PADS           NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
POST           NaN     NaN     6.0     1.0     1.0     2.0     NaN     NaN

                            ...     min                                  \
CustomerID 12355.0 12356.0  ... 18273.0 18274.0 18276.0 18277.0 18278.0
StockCode                   ...
10002          NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN
10080          NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN
10120          NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN
10123C         NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN
10124A         NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN
...            ...     ...  ...     ...     ...     ...     ...     ...
D              NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN
DOT            NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN
M              NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN
PADS           NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN
POST           NaN    18.0  ...     NaN     NaN     NaN     NaN     NaN


CustomerID 18280.0 18281.0 18282.0 18283.0 18287.0
StockCode
10002          NaN     NaN     NaN     NaN     NaN
10080          NaN     NaN     NaN     NaN     NaN
10120          NaN     NaN     NaN     NaN     NaN
10123C         NaN     NaN     NaN     NaN     NaN
10124A         NaN     NaN     NaN     NaN     NaN
...            ...     ...     ...     ...     ...
D              NaN     NaN     NaN     NaN     NaN
DOT            NaN     NaN     NaN     NaN     NaN
M              NaN     NaN     NaN     1.0     NaN
PADS           NaN     NaN     NaN     NaN     NaN
POST           NaN     NaN     NaN     NaN     NaN

[3684 rows x 8744 columns]